# Puerto en el que Redis estará escuchando
port 6379

# PID file
pidfile /var/run/redis_6379.pid

# Ruta para la base de datos de Redis 
dir /data

# Log level
loglevel notice

# Log file
logfile ""

# Permitir conexiones desde todas las direcciones IP
bind 0.0.0.0

# Timeout de la conexión en segundos
timeout 0

# Modo standalone (el modo predeterminado)
protected-mode yes

# Desactivar el modo de supervisión de Redis
daemonize no

# Configuración de RDB (persistence)
save 900 1
save 300 10
save 60 10000

# Endpoint de Redis 
# http://redis.io
